body {
    background-color: #1f1f1f;
    color : #fff;
}

#hosting-table .column li:after {
    content: normal;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#hosting-table .column li {
    min-height : 4em;
}

#hosting-table ul li.heading_col {
    font-weight: bold;
}

.prod_img{
    text-align: center;
}

.prod_img img {
    width : 90%;
    height : 250px;
}

form div {
    padding: 10px 0px;
}

select {
    padding : 10px;
    border-radius: 5px;
    width : 100%;
}

.page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0%;
    z-index: 99;
    display: none;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.page-loader img {
    margin-top : 15%;
}

.search {
    padding : 1em;
    margin :1em;
    font-size : 1em;
    font-weight:bold;
}

a:visited {
   color :#b2c831;
}

.available {
    height : 22px;
    width : 22px;
}

/* Star Rating CSS */
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}
.star-ratings-sprite {
    background: url("../img/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("../img/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
    width: 0%
}
