<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>Search Product</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <form action="" method="post" name="search">
                    {{ form.hidden_tag() }}
                    <p>
                        <div class="col-sm-6 col-lg-6">Product format</div>
                        <div class="col-sm-6 col-lg-6">{{ form.product_format }}</div>
                        {% for error in form.product_format.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                    </p>
                    <p>
                        <div class="col-sm-6 col-lg-6">Product url</div>
                        <div class="col-sm-6 col-lg-6">{{ form.product(size=80) }}</div>
                        {% for error in form.product.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                    </p>
                    <p><div class="col-sm-6 col-lg-6"><input type="submit" id="search" value="Search"></div></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
